In [2]:
import pandas as pd

# Covid

In [3]:
covid_data_s2g6 = pd.read_csv('covid_dataset.csv')
covid_data_s2g6.head(5)

             Day  Lab Test  Confirmed case  Death Case
0  2020-April-04       434               9           2
1  2020-April-05       367              18           1
2  2020-April-06       468              35           3
3  2020-April-07       679              41           5
4  2020-April-08       981              54           3

In [4]:
covid_data_s2g6['Day'] = pd.to_datetime(covid_data_s2g6['Day'], format='%Y-%B-%d')
covid_data_s2g6.head(5)

         Day  Lab Test  Confirmed case  Death Case
0 2020-04-04       434               9           2
1 2020-04-05       367              18           1
2 2020-04-06       468              35           3
3 2020-04-07       679              41           5
4 2020-04-08       981              54           3

# FirstDose

In [5]:
covid_first_dose_s2g6 = pd.read_csv('covid_first_dose.csv')
covid_first_dose_s2g6.head(5)

          Day  Number of Vaccinations (First Dose)
0  2021-01-27                                 26.0
1  2021-01-28                                541.0
2  2021-02-07                              31160.0
3  2021-02-08                              46509.0
4  2021-02-09                             101082.0

In [6]:
covid_first_dose_s2g6['Day'] = pd.to_datetime(covid_first_dose_s2g6['Day'], format='%Y-%m-%d')
covid_first_dose_s2g6.head(5)

         Day  Number of Vaccinations (First Dose)
0 2021-01-27                                 26.0
1 2021-01-28                                541.0
2 2021-02-07                              31160.0
3 2021-02-08                              46509.0
4 2021-02-09                             101082.0

# SecondDose

In [7]:
covid_second_dose_s2g6 = pd.read_csv('covid_second_dose.csv')
covid_second_dose_s2g6.head(5)

          Day  Number of Vaccinations (Second Dose)
0  2021-04-08                               81323.0
1  2021-04-10                              136703.0
2  2021-04-11                              165691.0
3  2021-04-12                              138879.0
4  2021-04-13                              210579.0

In [8]:
covid_second_dose_s2g6['Day'] = pd.to_datetime(covid_second_dose_s2g6['Day'], format='%Y-%m-%d')
covid_second_dose_s2g6.head(5)

         Day  Number of Vaccinations (Second Dose)
0 2021-04-08                               81323.0
1 2021-04-10                              136703.0
2 2021-04-11                              165691.0
3 2021-04-12                              138879.0
4 2021-04-13                              210579.0

In [9]:
dfcov = covid_data_s2g6
dffirst = covid_first_dose_s2g6

# Merge Covid Data and First dose

In [10]:
dfmerge = dfcov.merge(dffirst, on= 'Day')

In [11]:
dfmerge

,Day,Lab Test,Confirmed case,Death Case,Number of Vaccinations (First Dose)
0,2021-01-27,15720,528,17,26.0
1,2021-01-28,14830,509,15,541.0
2,2021-02-07,12404,292,15,31160.0
3,2021-02-08,13762,316,16,46509.0
4,2021-02-09,14468,387,8,101082.0
...,...,...,...,...,...
234,2021-12-13,22037,385,3,325250.0
235,2021-12-14,22870,295,3,338574.0
236,2021-12-15,28153,297,4,367004.0
237,2021-12-18,13991,122,4,363539.0
238,2021-12-19,19332,211,1,315552.0

In [12]:
dfnovac = dfcov[~dfcov['Day'].isin(dfmerge['Day'])]

In [13]:
dfnovac

           Day  Lab Test  Confirmed case  Death Case
0   2020-04-04       434               9           2
1   2020-04-05       367              18           1
2   2020-04-06       468              35           3
3   2020-04-07       679              41           5
4   2020-04-08       981              54           3
..         ...       ...             ...         ...
601 2021-11-26     16916             239           3
615 2021-12-10     20052             269           1
621 2021-12-16     25203             257           3
622 2021-12-17     16310             191           2
625 2021-12-20     19955             260           2

[387 rows x 4 columns]

In [14]:
fday = dffirst['Day'].iloc[0]
fday

Timestamp('2021-01-27 00:00:00')

In [15]:
dfnovac = dfnovac[dfnovac['Day'] < fday]
dfnovac

           Day  Lab Test  Confirmed case  Death Case
0   2020-04-04       434               9           2
1   2020-04-05       367              18           1
2   2020-04-06       468              35           3
3   2020-04-07       679              41           5
4   2020-04-08       981              54           3
..         ...       ...             ...         ...
293 2021-01-22     14846             619          15
294 2021-01-23     11115             436          22
295 2021-01-24     14169             473          20
296 2021-01-25     14829             602          18
297 2021-01-26     14401             515          14

[298 rows x 4 columns]

In [16]:
x = dfnovac.drop(['Death Case'],axis=1)
y = dfnovac['Death Case']

In [17]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state=51)

In [25]:
import numpy as np
np.array()
array(dict_values([2, 4]), dtype=object)
coefficients = np.polyfit(np.asarray(x).astype(float), y, 1)

SyntaxError: cannot assign to function call (<ipython-input-25-31cc57d7c69f>, line 2)

In [28]:
from keras.layers import Dense, Activation
from keras.models import Sequential
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'keras'

TypeError: invalid type promotion